<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Thymeleaf tutorial: index page</title>
	<link rel="stylesheet" href="../css/main-static.css" th:href="@{/css/main.css}" />
	<meta charset="utf-8" />
</head>
<body>
	<h1>Thymeleaf tutorial - Exercises</h1>

	<a th:href="@{/e01beanvalues}"> 01. Bean values </a>
	<br>
	<a th:href="@{/e02simpleformatting}"> 02. Simple formatting </a>
	<br>
	<a th:href="@{/e03stringconcatenation}"> 03. String concatenation </a>
	<br>
	<a th:href="@{/e04internationalization}"> 04. Internationalization </a>
	<br>
	<a th:href="@{/e05escapedunescapedtext}"> 05. Escaped and unescaped text </a>
	<br>
	<a th:href="@{/e06iteration}"> 06. Iteration </a>
	<br>
	<a th:href="@{/e07iterationstats}"> 07. Iteration stats </a>
	<br>
	<a th:href="@{/e08conditions}"> 08. Conditions </a>
	<br>
	<a th:href="@{/e09moreonconditions}"> 09. More on conditions </a>
	<br>
	<a th:href="@{/e10springexpressionlanguage}"> 10. Spring expression language </a>
	<br>
	<a th:href="@{/e11links}"> 11. Links </a>
	<br>
	<a th:href="@{/e12forms}"> 12. Forms </a>
	<br>
	<a th:href="@{/e13inlining}"> 13. Inlining </a>
	<br>
	<br>
	<a th:href="@{/e14templatefragments}"> 14. Template fragments </a>
	<br>
	<a th:href="@{/e15parameterizablefragments}"> 15. Parameterizable fragments </a>
	<br>
	<a th:href="@{/e16literalsubstitutions}"> 16. Literal Substitutions </a>
	<br>
	<a th:href="@{/e17comments}"> 17. Comments </a>
	<br>
	<a th:href="@{/e18datasyntax}"> 18. Data-* syntax </a>
	<br>
	<a th:href="@{/e19conditionalthremove}"> 19. Conditional th:remove </a>
	<br>
	<a th:href="@{/e20conversionservice}"> 20. Conversion service </a>
	<br>
	<a th:href="@{/e21templateurivariables}"> 21. Template uri variables </a>
</body>
</html>
